.header {
  margin-bottom: 48px;
}

.circle {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 16.1px;

  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  box-shadow: 50px 50px 100px 0px #121530, -50px -50px 100px 0px #272c5a;

  &__inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 9.88px;
    background-color: var(--color-dark);
  }

  &__line {
    width: 100%;
    height: 100%;
    border: 8px solid var(--color-red);
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
